In [105]:
import codecs
import os
import pandas as pd
import glob
import nltk
from nltk.corpus import PlaintextCorpusReader

def get_context(c):
    try:

        result = text.concordance_list(c)[0]
        left_of_query = ' '.join(result.left)
        query = result.query
        right_of_query = ' '.join(result.right)
        return left_of_query + ' ' + query + ' ' + right_of_query
    except:
        return ''

generated_dfs = []
BASE_DIR = 'data'
for book in glob.glob(BASE_DIR+'/books/*'):
    book_name = book.split('/')[-1].split('.')[0]
    try:
        DATA_DIR = codecs.open(os.path.join(BASE_DIR, f'books/{book_name}.txt'), 'rb', encoding='utf-8').readlines()
        true_data = pd.read_csv(os.path.join(BASE_DIR, f'ground_truth/{book_name}.csv'), sep='\t')
        print (f'Reading Book {book_name}')
        full_data = ' '.join([i.lower().strip() for i in DATA_DIR if len(i.strip())>1])
        tokens = nltk.word_tokenize(full_data)
        text = nltk.Text(tokens)
        true_data['firstcontext'] = true_data['word'].map(lambda k: get_context(k))
        generated_dfs.append(true_data)
    except Exception as e:
        pass

Reading Book 1661
Reading Book 3825
Reading Book 408
Reading Book 1727
Reading Book 25344
Reading Book 514
Reading Book 147
Reading Book 1342
Reading Book 766
Reading Book 158
Reading Book HP4
Reading Book 730
Reading Book 1250
Reading Book 4363
Reading Book 768
Reading Book 174
Reading Book 1754
Reading Book 2852
Reading Book 45
Reading Book 2680
Reading Book HP1
Reading Book 3207
Reading Book 55
Reading Book 219
Reading Book 2591
Reading Book 244
Reading Book 41
Reading Book 16
Reading Book 20228
Reading Book 113
Reading Book HP2
Reading Book 28054
Reading Book 7370
Reading Book 1952
Reading Book HP3
Reading Book HP5
Reading Book 36
Reading Book 376
Reading Book 140
Reading Book 2600

In [106]:
final_df = pd.concat(generated_dfs[:], axis=0)
final_df = final_df[final_df['firstcontext']!='']
final_df.shape, len(final_df['word'].unique()), len(final_df['def'].unique()), len(final_df['firstcontext'].unique())

((665, 3), 640, 660, 665)

In [89]:
# final_df = final_df[['def', 'firstcontext']].reset_index()

In [107]:
# final_df.drop(['index'], inplace=True, axis=1)

'he knew a lady on one of the boulevards whom he visited of an evening . he led the mazurka at the arkhã¡rovsâ\x80\x99 ball , talked about the war with field marshal kã¡menski , visited the english club'

In [109]:
final_df.iloc[661]['firstcontext']

'workbag on her arm , and gaily spreading out her dress sat down on a sofa near the silver samovar , as if all she was doing was a pleasure to herself and to all around her .'

In [110]:
final_df.iloc[661]['def']

'an ornate tea-urn, often used by wealthy and middle-class families in russia'

In [111]:
final_df.iloc[661]['word']

'samovar'